.game {
    &-topContainer {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    }
  
    &-logoContainer {
      width: 670px;
      height: 400px;
      margin-top: 60px;
    }
  
    &-gameLogo {
      width: 272px;
      height: 380px;
      float: left;
      margin-left: 120px;
  
      img {
        margin-top:20px;
        width: 340px;
        height: 360px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  
    &-carouselCard {
      width: 640px;
      height: 440px;
      float: right;
      margin-left: 15px;
      margin-top: 25px;
    }
  
    &-streamContainer {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    }
  
    &-partTitle {
      text-align: center;
      font-size: 2.28rem;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      line-height: 110%;
      // text-decoration: underline;
      margin: 1.52rem 0 0.912rem 0;
      position: relative;
      top: 70px;
    }
  }
  