// Code below is taken from here: https://www.w3schools.com/howto/howto_css_loader.asp
// and edited by @buralog:
.loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 80%;
    width: 30px;
    height: 30px;
    animation: spin .6s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }